@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
body,h1,h2,h3,h4,h5,p,ul,ol,figure,dl,dd{
  margin: 0;
  padding: 0;
  list-style: none;
}
html{
	scroll-behavior: smooth;
	scroll-padding-top: 90px;
}
img{
  vertical-align: bottom;
}
body{
  font-size: 16px;
  color: #333;
  line-height: 24px;
  /* 英字用を先に書く（定義する） */
  font-family: arial, sans-serif;
	background-color: #f9f4f2;
  /* background-color: #eee; */
}
.inner{
  width: 1280px;
  margin: auto;
}
.flex{
  display: flex;
  /* justify-content: space-between; */
}

/* ヘッダー */
header{
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.85);
	z-index: 10;
}
.header_inner{
	position: relative;
	display: flex;
	width: 100%;
	padding-inline: 70px;
}
.header_logo{
	display: flex;
	width: 100%;
	text-decoration: none;
}
.header_logo-img{
	width: 120px;
	height: 80px;
}
.header_logo-title{
	display: block;
	align-content: center;
	width: 100%;
	margin-left: 20px;
	color: #333;
}
.header_name{
	font-family: 'constantia';
}
.header_name-detail{
	font-size: 26px;
	line-height: 1.5;
	font-family: 'constantia';
	white-space: nowrap;
}
.menu{
	align-content: center;
	justify-items: right;
	width: 100%;
}
.menu_wrapper{
	display: flex;
	margin-inline: 20px;
	gap: 50px;
}
.menu_link{
	width: 100%;
	color: #333;
	font-family: 'Century';
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
	white-space: nowrap;
	transition: .5s;
}
.menu_link:hover{
	border-bottom: 1px solid #ffa6ca;
	color: #ffa6ca;
	letter-spacing: 0.1em;
}

/* メインビジュアル */
.mv{
	position: relative;
	/* margin-top: 80px; */
}
/* .mv img{
	width: 100%;
	height: auto;
	z-index: 5;
} */
.mv_key-text{
	position: absolute;
	top: 250px;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	/* color: #ffa6ca; */
	font-size: xx-large;
	font-family: 'Meiryo';
	line-height: 48px;
	text-shadow: 0px 0px 8px rgba(0,0,0,0.8);;
	z-index: 6;
}
.mv_key-text-en{
	position: absolute;
	top: 300px;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	/* color: #ffa6ca; */
	font-size: xx-large;
	font-family: Century;
	line-height: 48px;
	text-shadow: 0px 0px 8px rgba(0,0,0,0.8);
	letter-spacing: 0.2em;
	z-index: 6;
}

.mv_movie{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 85vh;
	overflow: hidden;
}
.mv_video{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: 100%;
}
/* #visual li, #button li{
    list-style-type: none;
}
#visual ul{
    position: relative;
    padding-bottom: 60.41666%;
}
#visual li{
    position: absolute;
    width: 100%;
}
#button{
	padding:10px 0;
	text-align:center;
}
#button ul{
	display:inline-block;
}
#button ul li{
	float:left;
	margin-right:15px;
}
#button ul li:last-child{
	margin-right:0;
}
#button ul li a{
	text-indent:100%;
	white-space: nowrap;
	overflow: hidden;
	text-decoration:none;
	display:block;
	width:10px;
	height:10px;
	border-radius:5px;
	background:#777;
}
#button ul li a.target{
	background:#444;
} */

/* スクロールダウンの位置 */
.scroll {
	/* color: #34a63a; */
	color: #fff;
	font-family: 'Comic Sans MS';
	font-size: 16px;
	font-weight: bold;
  padding-top: 60px;
  position: absolute;
	right: 50%;
	bottom: -400px;
	z-index: 6;
}
/* 矢印のアニメーション部分 */
.scroll::before {
  animation: scroll 1.5s infinite;
  /* border-bottom: 3px solid #34a63a; */
  border-bottom: 3px solid #fff;
  /* border-left: 3px solid #34a63a; */
  border-left: 3px solid #fff;
  content: "";
  height: 25px;
  left: 10px;
  position: absolute;
  bottom: -25px;
  width: 25px;
	z-index: 6;
}
/* 矢印のアニメーション */
@keyframes scroll {
  0% {
    opacity: 0;
    transform: rotate(-45deg) translate(0, 0);
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    transform: rotate(-45deg) translate(-20px, 20px);
  }
  100% {
    opacity: 0;
  }
}

/* 予約 */
.reserve{
	text-align: center;
	position: fixed;
	top: 150px;
	right: 0;
	padding: 60px 5px 15px 10px;
	border-right: none;
	border-radius: 15px 0 0 15px;
	background: url(../images/icon_email.png) no-repeat;
	/* background-color: #fff; */
	background-color: #ffa6ca;
	background-position: center 15%;
	background-size: 40%;
	box-shadow: -10px 10px 15px -5px #b3b3b3;
	color: #fff;
	/* color: #666; */
	font-family: "Hiragino Sans","ヒラギノ角ゴシック";
	/* font-weight: 900; */
	text-decoration: none;
}

/* about（教室について） */
.about{
	margin-top: 607px;
}
.about_title{
	text-align: center;
	margin-bottom: 20px;
	font-size: 40px;
	font-family: 'Sacramento', cursive;
	line-height: 1.5;
}
.about_wrapper{
	display: flex;
	justify-content: center;
	gap: 100px;
}
.about_text-yoga,
.about_text-pilates{
	text-align: center;
	font-size: 16px;
	line-height: 2;
}
.about_box{
	justify-items: center;
	margin-block: 0 3%;
}


#totop {
	position: fixed;
  bottom: 40px;
  right: 50px;
	width: 70px;
	height: 70px;
  font-size: 14px;
  line-height: 1;
  z-index: 100;
}
#totop a {
	display: block;
  text-align: center;
  width: 60px;
  padding: 28px 5px;
  border-radius: 90px;
  background: #ffa6ca;
  color: #fff;
  text-decoration: none;
  opacity: 0.9;
  transition: all .3s ease;
}
#totop a:hover {
	text-decoration: none;
  opacity: .5;
}

/* レッスン */
.lesson{
	height: 100%;
	margin-bottom: 50px;
	background-color: #fff;
	/* background-color: #faf0f5; */
	box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.4);
	border-block: 1px solid transparent;
}
.lesson_title{
	text-align: center;
	margin-block: 20px 50px;
	font-size: 40px;
	font-family: 'Sacramento', cursive;
	line-height: 1.5;
	/* margin: 30px 0 20px 50px; */
}
.lesson_header-wrapper{
	text-align: center;
	margin-bottom: 30px;
}
.lesson_header-catch,
.lesson_header-text{
	margin-bottom: 10px;
}
.lesson_menu{
	display: flex;
	flex-direction: column;
	gap: 30px;
	margin-bottom: 50px;
}
.lesson_yoga,
.lesson_pilates,
.lesson_reformer,
.lesson_teacher-wrapper{
	display: flex;
	justify-content: center;
	gap: 30px;
}
.lesson_yoga-left,
.lesson_pilates-right,
.lesson_reformer-left{
	align-content: center;
	line-height: 2;
}
.lesson_yoga-text span{
	display: block;
}
.lesson_yoga-img{
	width: 250px;
}
.lesson_suppl{
	display: grid;
	justify-content: center;
	gap: 20px;
	font-size: 14px;
}

/* 料金 */
.price{
	height: 100%;
	margin-bottom: 50px;
	background-color: #fff;
	/* background-color: #faf0f5; */
	box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.4);
	border-block: 1px solid transparent;
}
.price_title{
	text-align: center;
	margin-block: 20px 50px;
	font-size: 40px;
	font-family: 'Sacramento', cursive;
	line-height: 1.5;
	/* margin: 30px 0 20px 50px; */
}
.price_item{
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
	gap: 140px;
}
.price_box{
	width: 200px;
	text-align: center;
	font-size: 13px;
}
.price_menu{
	height: 48px;
	font-size: 16px;
}
.price_box span{
	font-size: 14px;
}
.price_fee{
	font-size: 20px;
	font-weight: bold;
}
.price_suppl{
	display: grid;
	justify-content: center;
	gap: 20px;
	margin-bottom: 50px;
	font-size: 14px;
}
.price_suppl-discount{
	display: flex;
	gap: 50px;
	font-size: 14px;
}
.price_cancel{
	font-size: 14px;

}

/* スケジュール */
.schedule{
	height: 100%;
	margin-bottom: 50px;
	background-color: #fff;
	/* background-color: #faf0f5; */
	box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.4);
	border-block: 1px solid transparent;
}
.schedule_title{
	text-align: center;
	margin-block: 20px 50px;
	font-size: 40px;
	font-family: 'Sacramento', cursive;
	line-height: 1.5;
	/* margin: 20px 0 20px 30px; */
}
.schedule_inport{
	display: flex;
	justify-self: center;
	width: 80%;
	height: 60vw;
	margin-bottom: 20px;
}

/* アクセス */
.access{
	height: 100%;
	margin-bottom: 50px;
	background-color: #fff;
	/* background-color: #faf0f5; */
	box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.4);
	border-block: 1px solid transparent;
}
.access_title{
	text-align: center;
	margin-block: 20px 50px;
	font-size: 40px;
	font-family: 'Sacramento', cursive;
	line-height: 1.5;
	/* margin: 20px 0 20px 30px; */
}
.access_map{
	display: flex;
	justify-self: center;
	width: 80%;
	margin-bottom: 20px;
}
.access_address{
	display: grid;
	grid-template-columns: 50px 1fr;
	justify-content: center;
	width: 700px;
	margin: 0 0 20px 12vw;
}
.access_suppl{
	font-size: 13px;
	margin: 0 0 20px 12vw;
}

/* 新着情報 */
.topics{
	height: 100%;
	margin-bottom: 50px;
	background-color: #fff;
	/* background-color: #faf0f5; */
	box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.4);
	border-block: 1px solid transparent;
}
.topics_title{
	text-align: center;
	margin-block: 20px 50px;
	font-size: 40px;
	font-family: 'Sacramento', cursive;
	line-height: 1.5;
	/* margin: 20px 0 20px 30px; */
}
article .grid{
	display: grid;
	grid-template-columns: 120px 1fr;
	margin-block: 30px;
	margin-inline: 180px;
	font-family: arial;
}
.topics_date,
.topics_text{
	margin-bottom: 20px;
	border-bottom: 2px solid #aaa;
	line-height: 1.5;
}

/* 講師 */
.teacher{
	height: 100%;
	margin-bottom: 50px;
	background-color: #fff;
	box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.4);
	border-block: 1px solid transparent;
}
.teacher_title{
	text-align: center;
	margin-block: 20px 50px;
	font-size: 40px;
	font-family: 'Sacramento', cursive;
	line-height: 1.5;
}
.teacher_title-sub{
	font-size: 24px;
	line-height: 1.5;
}
/* 講師大枠 */
.teacher_wrapper{
	display: flex;
	justify-content: center;
	width: 100%;
	margin-bottom: 50px;
}
/* プロフィール */
.teacher_profile{
	display: flex;
	gap: 30px;
	margin-bottom: 20px;
}
.teacher_img{
	width: 300px;
}

/* 資格 */
.teacher_name{
	margin-block: 10px;
}
.teacher_license-title{
	margin-block: 0;
}
.teacher_license{
	font-size: 14px;
	list-style-type: square;
	list-style-position: inside;
}

/* 講師コメント */
.teacher_comment-text{
	margin-bottom: 10px;
	font-size: 16px;
}
/* その他の活動 */
.teacher_external{
	width: 300px;
	margin-left: 50px;
	background-color: #f9f4f2;
}
.teacher_external-title{
	padding: 10px 0 10px 20px;
}
.teacher_external-shop{
	display: grid;
	justify-content: center;
	padding-bottom: 8px;
	font-size: 14px;
	line-height: 1.2;
}
.teacher_external-link{
	display: grid;
	justify-content: center;
	gap: 10px;
	padding-bottom: 30px;
}
.teacher_external-text{
	padding-block: 10px;
	padding-inline: 30px;
	border: 1px solid #999;
	border-radius: 25px;
	background-color: #fff;
	color: #333;
	text-decoration: none;
	text-align: center;
	transition: .8s;
	&:hover{
		background-color: #009A44;
		color: #fff;
	}
}

/* フッター */
.footer{
	width: 100%;
}
.footer_wrapper{
	display: block;
	margin-bottom: 30px;
}
.footer_sns{
	display: block;
	width: 50px;
	height: 50px;
	margin: 0 auto;
}
.footer_icon-instagram{
	display: block;
}
footer .copyright{
	text-align: center;
	padding: 5px 0;
	background-color: #fff;
	/* background-color: #ffa6ca; */
}


/* レスポンシブ */
@media (max-width: 768px){
	img{
		width: 100%;
    height: auto;
  }
  .inner{
		width: auto;
  }
  .flex{
		display: block;
  }

	/* ヘッダー */
	.header_logo-img{
		width: 60px;
		height: 100%;
	}
	.header_inner{
		padding: 0;
	}
	.header_name{
		font-size: 20px;
	}
	.header_name-detail{
		font-size: 14px;
		line-height: 1.5;
		white-space: nowrap;
	}

	.menu{
		display: none;
	}

	/* メインビジュアル */
	.mv_key-text{
		position: absolute;
		top: 100px;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: medium;
		color: #fff;
		line-height: 20px;
		text-shadow: 0px 0px 8px rgba(0,0,0,0.8);;
		white-space: nowrap;
		z-index: 6;
	}
	.mv_key-text-en{
		position: absolute;
		top: 120px;
		left: 50%;
		transform: translate(-50%, -50%);
		color: #fff;
		/* color: #ffa6ca; */
		font-size: medium;
		font-family: Century;
		line-height: 20px;
		text-shadow: 0px 0px 8px rgba(0,0,0,0.8);
		letter-spacing: 0.2em;
		z-index: 6;
	}
	.mv_movie{
		height: 30vh;
	}
	.mv_video{

	}

	.scroll{
		display: none;
	}

	/* 予約タブ */
	.reserve{
		position: fixed;
		top: 150px;
		right: 0;
		padding: 40px 5px 10px 8px;
		background-size: 30%;
		font-size: 12px;
		line-height: 1.3;
		font-weight: 900;
		text-decoration: none;
		z-index: 2;
	}


/* about */
	.about{
		margin-top: 285px;
		margin-inline: 20px;
		background-color: #f9f4f2;
	}
	.about_wrapper{
		display: block;
		margin-bottom: 30px;
	}
	.about_box{
		justify-content: center;
		margin-block: 0 3%;
	}
	.about_text-yoga,
	.about_text-pilates{
		font-size: 12px;
	}


	/* レッスン */
	.lesson{
		margin-bottom: 0;
		box-shadow: none;
	}
	.lesson_title{
		margin-bottom: 20px;
	}
	.lesson_header-text{
		font-size: 12px
	}
	.lesson_header-text span{
		display: block;
		font-size: 12px;
	}
	.lesson_menu{
		margin-inline: 20px;
	}
	.lesson_yoga,
	.lesson_pilates,
	.lesson_reformer{
		gap: 10px;
	}
	.lesson_yoga-left,
	.lesson_pilates-right,
	.lesson_reformer-left{
		width: 250px;
	}
	.lesson_yoga-img{
		width: 50vw;
	}
	.lesson_yoga-title,
	.lesson_pilates-title,
	.lesson_reformer-title{
		font-size: 16px;
	}
	.lesson_yoga-text,
	.lesson_pilates-text,
	.lesson_reformer-text{
		font-size: 10px;
		line-height: 1.5;
	}
	.lesson_yoga-text span,
	.lesson_pilates-text span,
	.lesson_reformer-text span{
		display: block;
	}
	.lesson_yoga-right,
	.lesson_pilates-left,
	.lesson_reformer-right{
		width: 60%;
	}
	.lesson_suppl-text span{
		display: block;
		font-size: 10px;
		line-height: 1.5;
	}

	/* 料金 */
	.price{
		margin-inline: 20px;
		margin-bottom: 0;
		box-shadow: none;
		background-color: #f9f4f2;
	}
	.price_title{
		text-align: center;
		margin: 0 0 30px 0;
		padding-top: 5vw;
	}
	.price_item{
		display: block;
		justify-items: center;
		width: 312px;
		margin: auto;
		margin-bottom: 0;
	}
	.price_box{
		width: 80%;
		margin-bottom: 30px;
		padding-bottom: 30px;
		border-bottom: 1px solid #666;
	}
	.price_box:last-child{
		margin-bottom: 0;
	}
	.price_menu{
		height: auto;
		font-size: 20px;
		font-weight: bold;
	}
	.price_img{
		width: 60%;
	}
	.price_fee{
		font-size: 24px;
	}
	.price_suppl{
		margin: 20px 0 20px 0;
		padding-left: 0;
	}
	.price_suppl-discount{
		display: block;
		margin: 0;
	}
	.price_suppl-discount-fee{
		text-indent: 1em;
	}
	.price_cancel span{
		display: block;
		text-indent: 1em;
	}

	/* スケジュール */
	.schedule{
		height: 100%;
		margin-bottom: 0;
		box-shadow: none;
		/* background-color: #eee; */
	}
	.schedule_title{
		text-align: center;
		margin: 0;
		padding-top: 5vw;
	}
	.schedule_inport{
		width: 100%;
		height: auto;
	}
	.schedule_inport iframe{
		transform: scale(0.8);
		box-sizing: border-box;
	}

	/* アクセス */
	.access{
		margin-bottom: 0;
		box-shadow: none;
		background-color: #f9f4f2;
	}
	.access_title{
		text-align: center;
		margin: 0;
		padding-top: 5vw;
	}
	.access_address{
		width: auto;
		margin: 0 0 10px 12vw;
		font-size: 14px;
	}
	.access_suppl{
		margin: 0 0 20px 12vw;
	}
	.access_suppl-text{
		font-size: 12px;
	}

	/* 新着情報 */
	.topics{
		box-shadow: none;
		/* background-color: #eee; */
		margin-bottom: 0;
	}
	.topics_title{
		text-align: center;
		margin: 0;
		padding-top: 5vw;
	}
	article .grid{
		grid-template-columns: 80px 1fr;
		margin-inline: 5vw;
	}
	.topics_date,
	.topics_text{
		margin-bottom: 0;
		padding-block: 15px;
		font-size: 12px;
		line-height: 1.5;
	}
	.topics_date{
		display: block;
		align-content: center;
	}


	#totop{
		position: fixed;
		bottom: 20px;
		right: 0;
		width: 70px;
		height: 70px;
		font-size: 12px;
		line-height: 1;
		z-index: 100;
	}
	#totop a {
		display: block;
		text-align: center;
		width: 40px;
		/* height: 50px; */
		padding: 18px 5px;
		border-radius: 90px;
		background: #ffa6ca;
		color: #fff;
		text-decoration: none;
		opacity: 0.9;
		transition: all .3s ease;
	}

	/* 講師 */
	.teacher{
		margin-bottom: 0;
		box-shadow: none;
		background-color: #f9f4f2;
	}
	.teacher_wrapper{
		display: block;
		justify-items: center;
		width: 100%;
		margin-bottom: 50px;
	}
	.teacher_content{
		margin-bottom: 20px;
	}
	.teacher_profile{
		display: block;
		justify-items: center;
		margin-bottom: 20px;
	}
	.teacher_img{
		width: 150px;
		height: 150px;
		border-radius: 50%;
		margin-bottom: 20px;
	}
	.teacher_name{
		text-align: center;
	}
	.teacher_comment{
		margin-inline: 30px;
	}
	.teacher_comment-text{
		margin-bottom: 0;
		font-size: 14px;
	}

	.teacher_external{
		margin-left: 0;
		background-color: #fff;
	}
	.teacher_external-title{
		padding: 10px 0;
		text-align: center;
	}
	.teacher_external-text{
		background-color: #f9f4f2;
	}


	/* フッター */
	.footer_wrapper{
		display: block;
		justify-self: center;
	}
	.footer_info{
		grid-template-columns: 90px 1fr;
		width: auto;
		margin-top: 50px;
		padding-left: 0;
		font-size: 14px;
	}
	.footer_info-menu{
		margin-bottom: 7px;
	}
	.footer_info-data{
		margin: 0 0 7px 20px;
	}
	.footer_contact{
		width: auto;
		padding: 0;
		font-size: 14px;
	}
	.footer_contact-sns{
		margin-left: 23px;
	}
	.fa-instagram{
		margin-right: 0.5em;
	}


	/* ハンバーガーメニュー */
	.btn-trigger{
		display: block;
		position: relative;
		top: 20px;
		right: 10px;
		width: 50px;
		height: 44px;
		cursor: pointer;
	}
	.btn-line{
		position: absolute;
		top: 20px;
		right: 0;
		width: 100%;
		height: 4px;
		background-color: #000;
		border-radius: 4px;
	}
	.btn-trigger, .btn-line{
		display: inline-block;
		transition: all .5s;
		box-sizing: border-box;
	}
	.line_top{
		top: 0;
	}
	.line_middle{
		top: 20px;
	}
	.line_bottom{
		bottom: 0;
	}
}


